.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.5);
}
/*scroll effect*/
.navbar-trans {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	transition: top 1s ease;
}
.bk-widget-content{padding:20px 23px;}
.bk-widget-content a{color:#fff;}
.bk-widget-content a:hover{color:#1b9c24;}

header{
	
	margin-bottom:100px;
}

/*double row*/
.navbar-doublerow > .navbar{
	display: block;	
	padding: 0px auto;
	margin: 0px auto;
	min-height: 25px;
}
.navbar-doublerow .nav{
	padding: 0px auto;
}
.navbar-doublerow .dividline{
  margin: 5px 100px;
  padding-top: 1px;
  background-color: inherit;
}
/*top nav*/
.navbar-doublerow .navbar-top ul>li>a {
	padding: 10px auto;
	font-size: 12px;
} 
/*down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
	padding: 0px auto;
	float: left;
	color: #fff;
	font-size: 32px;
}
.navbar-doublerow .navbar-down ul>li>a{
	font-weight:Bold;
	font-size: 16px;
	color: #fff;
	transition: border-bottom .2s ease-in , transform .2s ease-in-out;
}
.navbar-doublerow .navbar-down ul>li>a:hover{
	font-weight:Bold;
	color: #06c100;
}
.navbar-doublerow .navbar-down .dropdown{
    padding: 5px;
    color: #000;
}
.navbar-doublerow.navbar-trans.afterscroll {
   top:-50px;
}	

.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
}
/*text*/
.text-white,.text-white-hover:hover{color:#fff!important}
/*fontcolor*/
.light-grey {color:#000!important;background-color:#E6E9ED!important}

	
#video-fond {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#video-fond > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  #video-fond > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-fond > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. En cas de support d'object-fit, écrase le 1 */
@supports (object-fit: cover) {
  #video-fond > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.index-box{height:510px;overflow:hidden;background-color: rgba(0, 0, 0, 0.5);color:#fff;border-right: 2px solid rgba(250, 250, 250, .1);padding:10px 10px 10px 10px;}


.footer-bottom {
	background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    border-top: 1px solid #DDDDDD;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-bottom pull-left {
    padding-top: 6px;
}
.copyright-devider{
    padding-right:5px;
    padding-left:10px;
}
.container a{
    color:fff;
}

.cssload-bell {
	margin-top:300px;
	width: 150px;
	height: 153px;
	border-radius: 100%;
	position: absolute;
	left: calc(50% - 75px);
}

.cssload-circle {
	width: 100%;
	height: 100%;
	position: absolute;
}
.cssload-circle .cssload-inner {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 8px solid rgba(0,161,19,0.7);
	border-right: none;
	border-top: none;
	background-clip: padding;
	box-shadow: inset 0px 0px 15px rgba(230,255,229,0.15);
}

.cssload-circle:nth-of-type(0) {
	transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
}
.cssload-circle:nth-of-type(0) .cssload-inner {
	animation: cssload-spin 0.7s infinite linear;
		-o-animation: cssload-spin 0.7s infinite linear;
		-ms-animation: cssload-spin 0.7s infinite linear;
		-webkit-animation: cssload-spin 0.7s infinite linear;
		-moz-animation: cssload-spin 0.7s infinite linear;
}

.cssload-circle:nth-of-type(1) {
	transform: rotate(70deg);
		-o-transform: rotate(70deg);
		-ms-transform: rotate(70deg);
		-webkit-transform: rotate(70deg);
		-moz-transform: rotate(70deg);
}
.cssload-circle:nth-of-type(1) .cssload-inner {
	animation: cssload-spin 0.7s infinite linear;
		-o-animation: cssload-spin 0.7s infinite linear;
		-ms-animation: cssload-spin 0.7s infinite linear;
		-webkit-animation: cssload-spin 0.7s infinite linear;
		-moz-animation: cssload-spin 0.7s infinite linear;
}

.cssload-circle:nth-of-type(2) {
	transform: rotate(140deg);
		-o-transform: rotate(140deg);
		-ms-transform: rotate(140deg);
		-webkit-transform: rotate(140deg);
		-moz-transform: rotate(140deg);
}
.cssload-circle:nth-of-type(2) .cssload-inner {
	animation: cssload-spin 0.7s infinite linear;
		-o-animation: cssload-spin 0.7s infinite linear;
		-ms-animation: cssload-spin 0.7s infinite linear;
		-webkit-animation: cssload-spin 0.7s infinite linear;
		-moz-animation: cssload-spin 0.7s infinite linear;
}

.cssload-bell {
	animation: cssload-spin 1.75s infinite linear;
		-o-animation: cssload-spin 1.75s infinite linear;
		-ms-animation: cssload-spin 1.75s infinite linear;
		-webkit-animation: cssload-spin 1.75s infinite linear;
		-moz-animation: cssload-spin 1.75s infinite linear;
}



@keyframes cssload-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

.bk-gap,.bk-gap-1{
	display:block;
	height:15px
}

.bk-gap-1{
	height:20px
}

.bk-modal .modal-content{
	color:#fff;
	border: 2px solid #0f1;
	border-radius:0;
	background-color: rgba(0, 0, 0, 0.8);
}
.bk-modal .modal-body{
	padding:38px
}
.bk-modal .modal-sm{
	max-width:470px
}
.bk-modal .close{
	position:absolute;
	top:18px;
	right:18px;
	margin-top:0;
	font-size:1.7rem;
	color:inherit;
	text-shadow:none;
	z-index:2
}
@media (min-width:576px){
	.bk-modal .modal-dialog{
		margin-top:190px;
		margin-bottom:60px
	}
}


.btn-theme{
	color:#fff;
	background-color:#476538;
	border-color:#57b628
}
.btn-theme:hover,.btn-theme:focus,.btn-theme.focus,.btn-theme:active,.btn-theme.active,.open>.dropdown-toggle.btn-theme{
	color:#fff;
	background-color:#57b628;
	border-color:#476538
}
.btn-theme:active,.btn-theme.active,.open>.dropdown-toggle.btn-theme{
	background-image:none
}
.btn-theme.disabled,.btn-theme[disabled],fieldset[disabled] .btn-theme,.btn-theme.disabled:hover,.btn-theme[disabled]:hover,fieldset[disabled] .btn-theme:hover,.btn-theme.disabled:focus,.btn-theme[disabled]:focus,fieldset[disabled] .btn-theme:focus,.btn-theme.disabled.focus,.btn-theme[disabled].focus,fieldset[disabled] .btn-theme.focus,.btn-theme.disabled:active,.btn-theme[disabled]:active,fieldset[disabled] .btn-theme:active,.btn-theme.disabled.active,.btn-theme[disabled].active,fieldset[disabled] .btn-theme.active{
	background-color:#33b735;
	border-color:#2ea448
}
.btn-theme .badge{
	color:#476538;
	background-color:#fff
}
.badge-theme{
	display:inline-block;
	min-width:10px;
	padding:3px 7px;
	font-size:12px;
	font-weight:700;
	line-height:1;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	vertical-align:baseline;
	background-color:#476538;
	border-radius:10px
}
.badge-full:empty{
	display:none
}
.label-theme{
	font-size:12px;
	background-color:#57b628
}

.mnt5{margin-top:5px!important}

.panel-theme {
	border-color: #1aa724;
}
.panel-theme > .panel-heading {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	border-color: #1aa724;
}
.panel-theme > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #1aa724;
}
.panel-theme > .panel-heading .badge {
	color: #d9f7db;
	background-color: #318f41;
}
.panel-theme > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: #1aa724;
}

.panel-title{
	font-size:20px;
}
.panel,.panel-footer{
	color:#fff;
	font-weight:bold;
	background-color: rgba(0, 0, 0, 0.8);
}

.legion-style-input {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 400px;
	height:40px;
	margin: 0 auto;
	border-radius: 2px;
	background-color: transparent;
	color:#44cbff;
}
